.app {
  display: flex;
  justify-content: space-between;
}

.textarea {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex: 0.5;
}

iframe {
  flex: 0.5;
  margin: 10px;
  border: 1px solid lightgray;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

form > textarea {
  margin: 10px 0;
  padding: 5px;
}

.render {
  display: flex;
  justify-content: center;
  height: 30px;
  flex-direction: column;
  align-self: flex-end;
}
